{% extends "base.html" %}
{% block content %}
<div class="container col-md-12">
        <input class="form-control" id="myInput" type="text" placeholder="Поиск..">
        <br>
        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Вести измененя</a>
        <br>
        <br>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Баланс</th>
                <th>Дата обнавления</th>
                <th>Редоктирование</th>

            </tr>
            </thead>
            <tbody id="myTable">
            {% for data in datas %}
                <tr>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>

                        <a href={{ data.2 }} class="btn btn-danger" role="button" aria-pressed="true">del </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
